
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<style>
    h1 {
        color: #df691a;
    }

    h2 {
        color: #ffbf00;
    }
</style>

<div class="menu">
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1>SMS2i</h1>
            Une équipe dynamique et performante au service de ses clients depuis 2008 dans le domaine de Services et Maintenance des Systemes Informatiques et Industriels . .
            <br />
            L'axe principal des activités de la société est le dévéloppement de projet de commande et de supervision de processus industriel.
        </div>
        <div class="w3-third w3-container">
            <img src="~/images/sms2i/cuisine Mme Moreau conception2.2.jpg" width="250" height="150">
        </div>
    </div>
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1>Formation</h1>
            Le service de formation fournie tout ce qui est formation technique sur mesure pour les societes industriels dans differents domaines technique.
        </div>
        <div class="w3-third w3-container">
            <img src="~/images/sms2i/offer-image-2.jpg" width="250" height="150">
        </div>
    </div>
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2>Automatisme</h2>
            Ce service s'interesse a l'étude et le dévéloppement des applications d'automatisation de système industriel
            a base d'automates programmables Industriels ou cartes microcontroleur.
            Automates programmables industriels, Servomoteurs, commandes d'axes, Supervision de procede, HM Interfaces hommes / machines,
            Reseaux de communication et bus de terrain, Instrumentation, régulation.
        </div>
        <div class="w3-third w3-container">
            <img src="~/images/sms2i/téléchargement.jpg" width="250" height="150">
        </div>
    </div>
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2>Maintenance Industriels</h2>
            Ce service fournie tout ce qui est maintenance technique pour les sociétés industriels dans différents domaines.
            Maintenance des armoires éléctriques, Maintenance des cartes éctroniques, Maintenance, Installation,
            configuration et Etalonnage des Instruments de mesure et de commande.
        </div>
        <div class="w3-third w3-container">
            <img src="~/images/sms2i/téléchargement (1).jpg" width="250" height="150">
        </div>
    </div>
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2>Service Informatiques</h2>
            Web design: développement web, CD interactive Infographie: creation des(cartes visites, Affiches publicitaires,
            Logos, Calendries, Dépliants), Creation des animations 3d.
        </div>
        <div class="w3-third w3-container">
            <img src="~/images/sms2i/images.jpg" width="250" height="150">
        </div>
    </div>
</div>