@{
    ViewBag.Title = "alerts";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model dynamic

<h2>alerts</h2>
<ul class="w3-ul">
    @foreach (var alert in Model.alerts)
    {
    <li class="w3-text-lime">Alert at @alert.date from station @alert.stationID (@alert.countrie), alert text: @alert.text </li>
    }
</ul>