.menu{

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height:1500px;
    min-width:1200px;
    width:  72%;
    background:rgba( 0, 0, 0, 0.2);
}

.footer {
    padding-top:20px;
    height: 240px;
    position: relative;
    background-color:#000000;
    clear:both;
}