<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.addsmsConnectionString"
            connectionString="Data Source=LAPTOP-1J8JERPR\SQLEXPRESS2014;Initial Catalog=addsms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.GSM_SMSConnectionString"
            connectionString="Data Source=LAPTOP-1J8JERPR\MSSQLSERVE_SMS2I;Initial Catalog=GSM_SMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.GSM_SMSConnectionString1"
            connectionString="Data Source=DESKTOP-NMRO30H\SQLEXPRESS2017;Initial Catalog=GSM_SMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.ProjDBConnectionString"
            connectionString="Data Source=DESKTOP-NMRO30H\SQLEXPRESS2017;Initial Catalog=ProjDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>