
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="w3-container w3-content w3-padding-large w3-border w3-large" style="width:75%; min-width:800px; margin-top:10% ">
    <div class="w3-row w3-padding-32">
        
            <i class="fa fa-map-marker" style="width:30px"></i> Immeuble Néodem, Boulevard 14 janvier 4013, Messaadine, Sousse, Tunisia<br><br>
            <i class="fa fa-phone" style="width:30px"></i> Phone/Fax: +216 73284160<br><br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: contact.sms2i@gmail.tn<br><br>
            <i class="fa fa-globe" style="width:30px"> </i> Website : <a href="http://www.sms2i.com.tn"> www.sms2i.com.tn </a><br><br>
       
        

        
        @*<div class="w3-col m6">
            <form action="#">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                    </div>
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="email" placeholder="Email" required name="Email">
                    </div>
                </div>
                <textarea class="w3-input w3-border" type="text" placeholder="Message" required name="Message" style="min-height:200px"></textarea>
                <button class="btn btn-dark w3-section w3-right" type="submit">SEND</button>
            </form>
        </div>*@
    </div>
</div>